<div class="span9">
  
  <form action="/edit?set={active_set}">
  	<input type="hidden" name="active_set" id="active_set" value="{active_set}"/>
  	
	<div class="controls">
      <input type="text" class="input-xlarge" name="set_title" id="set_title" placeholder="Set title">

	  <div style="float:right;">
	    <button type="submit" class="btn btn-primary">Duplicate</button>
	  </div>
	</div>

	{if set_fiducials}
	  <ul class="thumbnails">
	  <li class="span3">
	  	<!--
	     <a href="#" class="thumbnail" title="fiducial {fid.id}">
	        <img src="/assets/img/add_item.png" alt="fiducial {fid.id}" width="237" height="235">
		    {for i in fid.icons}<i class="icon-{i}"></i>{/for}
	     </a>
	    -->
	  </li>
	  {for fid in set_fiducials}
	    <li class="span3" id="fiducial_{fid.id}">
	      <span class="number">{fid.id}</span>
	      <span style="float:left;margin:5px;" class="types {for i in fid.types}{i} {/for}">
			{for i in all_icons}
	          <div class="btn icon-{i}" reactv-type="{i}">
	          	<a href="#" rel="tooltip" title="first tooltip">
	          	  <i class="icon-{i}"></i>
	          	</a>
	          </div>
	          <br/>
	        {/for}
	      </span>
	      <a href="#" class="thumbnail" title="fiducial {fid.id}">
	        <img src="/fiducials/{fid.id}.png" alt="fiducial {fid.id}">
	      </a>
	    </li>
	  {/for}
	  </ul>
	{else}
	  <p>No fiducials!</p>
	{/if}
	
  </form>

</div><!--/span-->

<script src="../javascript/edit.js"></script>
    
