<div class="span9" style="margin-left: 26%;">
  
  <form id="editform" action="/edit?set={active_set}" method="get">
  	<input type="hidden" name="active_set" id="active_set" value="{active_set}"/>
  	
	<div class="controls clearfix page-header" style="margin-top:0px;">

	  <h1>{active_set}</h1>
	  <br/>
	  
	  <div style="float:left; width: 160px;">
	    <a href="/action?activate=1&set={active_set}" class="btn btn-primary btn-success"><i class="icon-white icon-ok-circle"></i> Make it active</a>
	  </div>
	  
	  <div style="float:left; width: 120px;">
	    <button type="submit" class="btn btn-primary btn-danger"><i class="icon-white icon-ban-circle"></i> Delete</button>
	  </div>
	  
	</div>

	{if set_fiducials}
	<ul class="thumbnails">
	  {for fid in set_fiducials}
	    <li class="span3" id="fiducial_{fid.id}">
	      <span class="number">{fid.id}</span>
	      <span style="float:left;margin:5px;" class="types {for i in fid.types}{i} {/for}">
			{for c in fid.controls}
	          <div class="btn icon-{c.icon} {if c.enabled}enabled{/if}" reactv-type="{c.icon}" reactv-control="{c.control}">
	          	<a href="#" rel="tooltip" data-original-title="{c.control}">
	          	  <i class="icon-{c.icon}"></i>
	          	</a>
	          </div>
	          <br/>
	        {/for}
	      </span>
	      <a href="#" class="thumbnail" title="fiducial {fid.id}">
	        <img src="/fiducials/{fid.id}.jpg" alt="fiducial {fid.id}" />
	      </a>
	    </li>
	  {/for}
	  {for dis in disabled_fiducials}
	    <li class="span3 disabled" id="fiducial_{dis.id}">
	      <span class="number">{dis.id}</span>
	      <span style="float:left;margin:5px;" class="types">
			{for c in fid.controls}
	          <div class="btn icon-{c.icon}" reactv-type="{c.icon}">
	          	<a href="#">
	          	  <i class="icon-{c.icon}"></i>
	          	</a>
	          </div>
	          <br/>
	        {/for}
	      </span>
	      <a href="#" class="thumbnail" title="fiducial {dis.id}">
	        <img src="/fiducials/{dis.id}.jpg" alt="fiducial {dis.id}" />
	      </a>
	    </li>
      {/for}
	  </ul>
	{else}
	  <p>No fiducials!</p>
	{/if}
	
  </form>

</div><!--/span-->

<script src="../javascript/edit.js"></script>
    
